<!DOCTYPE>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="google-site-verification" content="xQchOTUdg3my426ZYUqMyGo5lWdMZXsZgvMKDHZ7AH0" />

    <div class="header">
      <p> </p>

    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pisa.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fjalla One" rel="stylesheet">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="index.html">Congressional Horserace</a>
      <a href="AZGOV.html">AZ GOV Election</a>
      <a href="MAGOV.html">MA GOV Election</a>
      <a href="MDGOV.html">MD GOV Election</a>
      <a href="NMGOV.html">NM GOV Election</a>
      <a href="AL_Senate.html">AL Senate Election</a>
      <a href="FLSenate.html">FL Senate Election</a>
      <a href="MASenate.html">MA Senate Election</a>
      <a href="MESenate.html">ME Senate Election</a>
      <a href="MISenate.html">MI Senate Election</a>
      <a href="MOSenate.html">MO Senate Election</a>
      <a href="NVSenate.html">NV Senate Election</a>
      <a href="VASenate.html">VA Senate Election</a>
      <a href="WISenate.html">WI Senate Election</a>
      <a href="WVSenate.html">WV Senate Election</a>
      <a href="CA25.html">CA House Election</a>
      <a href="AK_GOV_GOP_Prim.html">AK GOV GOP Primary</a>
      <a href="MI_GOV_GOP_Prim.html">MI GOV GOP Primary</a>
      <a href="NV_GOV_GOP_Prim.html">NV GOV GOP Primary</a>
      <a href="OH_GOV_GOP_Prim.html">OH GOV GOP Primary</a>
      <a href="OH_GOV_DEM_Prim.html">OH GOV DEM Primary</a>
      <a href="PA_GOV_GOP_Prim.html">PA GOV GOP Primary</a>
      <a href="IN_Senate_GOP_Prim.html">IN Senate GOP Primary</a>
      <a href="OH_Senate_GOP_Prim.html">OH Senate GOP Primary</a>
    </div>

    <!-- Use any element to open the sidenav -->


  </head>

  <body>
      <h1 align="center">Congressional Horserace</h1>
    <svg &lt;svg id="svgCommittees" viewBox="0 0 960 80" preserveAspectRatio= "xMidYMid" &gt; >
    </svg>

    <div id="Container" >
      <svg &lt;svg id="graph" viewBox="0 0 960 400" preserveAspectRatio= "xMidYMid" &gt; ></svg>
    </div>
    <button class="button button5" onclick="openNav()"></button>
    <p></p>

    <div id="table-location"></div>

    <script src="http://d3js.org/d3.v3.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="static/js/congressional.js"></script>
    <script src="static/js/menu.js"></script>



</html>
