/* The side navigation menu */body{
    font-family: 'Fjalla One', sans-serif;
	font-size: 12px;
    color: #121401;
    margin: 0 auto;
    max-width: 1024px;
}

.header img {
  float: left;
  width: 1024px;
  height: 74px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.frontpage{
    float: left;
    margin: 0 auto;
}

#graph{
    font-size: 18px;
    margin: 0 auto;
    max-width: 1024px;
}

.y path,
.y line {
    fill: none;
    stroke: #121401;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.x path,
.x line {
    fill: none;
    stroke: #121401;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.gridline path,
.gridline line {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.popover{
    font-size: 14px;
    color: #121401;
    background-color: rgb(255,255,255);

}



.button {
    background: url('menu_icon.svg') center no-repeat;
    background-color: #4CAF50; /* Green */
    background-size: 40%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

#table-location {
    margin: 30 auto;
    max-width: 1024px;
    font-size: 12px;
    color: #121401;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.pollnav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the pollnav */
}

/* The navigation menu links */
.pollnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.pollnav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.pollnav .pollsterbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the pollnav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .pollnav {padding-top: 15px;}
    .pollnav a {font-size: 18px;}
}
